@model IEnumerable<Person>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AV SERVICE HR</h1>   

    <hr />
    
</div>

<div>

    @*Disegnare la Tabella dinamica in HTML  con i campi Title , firstname e lastname*@
    @* Colorare header tabella di rosso *@

    @foreach (var item in Model)
    {
        <div>@item.FirstName</div>     
        <br />
    }

    




</div>

<script>
    /*Implementare uno script javascript/jquery che converta in maiuscolo tutti i lastname che iniziano con la lettere A*/
</script>
